.greenLine {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #7AC751;
    height: 50px;
    width: 100%;
}

.welcome {
    font-size: 16px;
    color: white;
    justify-self: start;

    padding-left: 50px;
}

nav {
    color: white;
    font-size: 16px;
    justify-self: end;

    padding-right: 50px;
}

.nav-item {
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.nav-item:hover {
    color: white;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: white;
}
